@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: 'Inter', system-ui, sans-serif;
}

button:not(disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}